@use 'variable' as v;
@use '../base/mixins' as m;

.seccion {
    margin-top: calc(v.$separacion / 2);
    margin-bottom: calc(v.$separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}

.boton-amarillo{

    @include m.boton(v.$amarillo, inline-block);


}

.boton-amarillo-block{

    @include m.boton(v.$amarillo, block);
}

.boton-rojo-block{

    @include m.boton(v.$rojo, block);
    width: 95%;
    padding: 1.5rem 3rem;
}

.boton-verde{

    @include m.boton(v.$verde, inline-block);


}