@use '../base/mixins' as m;
@use '../base/variable' as v;

.iconos-nosotros{
    @include m.tablet {
        
        @include m.grid(3, 2rem);
            
        
    }
    
}

.icono{
    text-align: center;
    h3{text-transform: uppercase;}
    img{
        height: 10rem;
    }
}